html {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

/*parallex*/

#background-fixed-image {
  position: relative;
  height: 1010px;
  background: url('../images/background-image-1.png');
  background-size: auto auto;
  background-position: top center;
  background-attachment: fixed;
}

#title-container {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 35%;
}

#title, .lead {
  color: #888888;
  font-size: 3vh;
  font-size: 3vw;
}

h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #888888;
  border-bottom-color: black;
  display: inline-block;
}

#title {
  border-bottom-color: rgba(255,255,255,0.35);
}

#work-experience-page {
    margin: 0 auto;
    text-align: center;
    max-width: 75%;
    padding: 120px 0;
    height: 980px ;
    background-color: white;
    border-radius: 10px;
}

body {
    background: url('../images/background-image-1.png');
}

.scroll-down .glyphicon {
	color: #888888;
	font-size: 30px;
	padding-right: 2px;
	padding-top: 20px;

	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.scroll-down:hover .glyphicon {
   padding-top: 40px;
 }

.scroll-down {
  position: absolute;
  height: 80px; width: 10%;
  bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  /*left: 30%;*/
  /*margin-right: -30%;*/
  /*z-index: 6;*/
}

 .glyphicon {
	color: #DFE0E0;
	font-size: 14px;

	-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
