html {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

/*parallex*/

#background-fixed-image {
  position: relative;
  height: 450px;
  background: url('../images/background-image-1.jpg');
  background-size: auto 600px;
  background-position: top center;
  background-attachment: fixed;
}

#title-container {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 60%;
  margin-top: -20%;
  color: #ffffff;
  font-size: 3vh;
  font-size: 3vw;
  font-family: 'Alegreya Sans', sans-serif;
}

#profile {
  margin: 0 auto;
  text-align: center;
  max-width: 740px;
  padding: 120px 0;
  height: 980px ;
}

#profile-title-container {
  height: 50px;
  width: 100%;
  position: absolute;
  color: black;
  font-size: 3vh;
  font-size: 3vw;
  font-family: 'Alegreya Sans', sans-serif;
}

h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #FFFFFF;
  border-bottom-color: black;
  display: inline-block;
}

#title {
  border-bottom-color: rgba(255,255,255,0.35);
}

.scroll-down .glyphicon {
	color: #FFFFFF;
	font-size: 30px;
	padding-right: 2px;
	padding-top: 20px;

	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.scroll-down:hover .glyphicon {
   padding-top: 30px;
 }

.scroll-down {
  height: 80px;
  width: 110px;
  position: absolute;
  bottom: 0px; right: 5%;
  background-color: #222222;
  text-align: center;
  z-index: 6;
}

 .glyphicon {
	color: #DFE0E0;
	font-size: 14px;

	-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
